* {
    /*margin: 0;*/
    padding: 0;
    margin: 0;
}

#topo {
    text-align: center;
}

h1 {
    color: red;
}

.titulodestaque {
    color: blue;
}

img {
    width: 150px;
    height: 230px;
}

.livros {
    font-size: 25px;
}

#menu ul {
    background-color: rgb(255, 204, 37);
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

#menu ul li{
    margin: 0;
}

#menu ul li a {
    display: block;
    padding: 20px 20px;
}

#menu ul li a:hover {
    background-color: rgb(255, 215, 84);
}

a {
    text-decoration: none;
}

.livros {
    list-style: none;
}

#rodape ul {
    text-align: center;
    list-style: none;
    display: flex;
    gap: 20px;
}

#rodape ul li a {
    display: block;
    padding: 20px 20px;
}


#rodape ul li a:hover {
    background-color: rgb(255, 215, 84);
}

#rodape {
    text-align: center;
    background-color: rgb(255, 204, 37);
}

#rodape p {
    margin-bottom: 20px;
}